<?xml version='1.0' encoding='utf-8'?>
<widget
    id="com.split.app.test"
    version="0.0.9"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SplitMe Test</name>
    <description>
        Split expenses with friends.
    </description>
    <author email="olivier.tassinari@gmail.com">
        Olivier Tassinari
    </author>
    <content src="index.html" />
	<icon src="../logo/v0.png" />
    <access origin="*" />
    <preference name="StatusBarBackgroundColor" value="#388E3C" />
    <preference name="BackgroundColor" value="0xffffffff"/>
    <preference name="android-minSdkVersion" value="19" />
</widget>
