<?xml version='1.0' encoding='utf-8'?>
<widget id="com.split.app.prerelease" version="0.0.17" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SplitMe.prerelease</name>
    <description>
        Split expenses with friends.
    </description>
    <author email="olivier.tassinari@gmail.com">
        Olivier Tassinari
    </author>
    <content src="index.html" />
    <icon src="../logo/v0.png" />
    <access origin="*" />
    <preference name="StatusBarBackgroundColor" value="#388E3C" />
    <preference name="BackgroundColor" value="0xffffffff" />
    <preference name="android-minSdkVersion" value="19" />
    <engine name="android" spec="~4.1.1" />
    <plugin name="com.danielcwilson.plugins.googleanalytics" spec="~0.6.1" />
    <plugin name="com.internrocket.plugins.statusbarcolor" spec="~0.0.1" />
    <plugin name="com.ionic.keyboard" spec="~1.0.4" />
    <plugin name="cordova-plugin-contacts" spec="~1.1.0" />
</widget>
