{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
    ["transform-replace-object-assign", "simple-assign"],
    "transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-display-name",
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": ["react"],
                "locals": ["module"]
              },
              {
                "transform": "react-transform-catch-errors",
                "imports": ["react", "redbox-react"]
              }
            ]
          }
        ]
      ]
    },
    "server.development": {
      "plugins": [
        "remove-webpack",
        [
          "webpack-loaders",
          {
            "config": "./webpack.config.server.development.js",
            "verbose": false
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "react-remove-properties",
        "transform-dev-warning",
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
