{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
    ["transform-replace-object-assign", "simple-assign"],
    "transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "plugins": [
        "remove-webpack",
        [
          "webpack-loaders",
          {
            "config": "./webpack.config.server.development.js",
            "verbose": false
          }
        ]
      ]
    },
    "server.development": {
      "plugins": [
        "remove-webpack",
        [
          "webpack-loaders",
          {
            "config": "./webpack.config.server.development.js",
            "verbose": false
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "react-remove-properties",
        "transform-dev-warning",
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
