{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "quotes": [2, "single", "avoid-escape"],
    "comma-dangle": [2, "always-multiline"],
    "brace-style": 2,
    "no-underscore-dangle": 0,
    "camelcase": 0,
    "handle-callback-err": 0
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "globals": {
    "cordova": false,
    "emit": false,
    "browser": false,
    "VERSION": false
  }
}
