# Node
/node_modules
/npm-debug.log

# Sublime Text
*.sublime-workspace

# Cordova
/cordova/www
/cordova/plugins
/cordova/platforms

# Marketing
/fiche/*/*.png

# OS
.DS_Store

# Server
/server/server.js
/server/static/
/server/public/index.html
