# Node
/node_modules
*npm-debug.log

# PouchDB
/db
/pouchdb-server

# Sublime Text
*.sublime-workspace

# Cordova
/cordova/www
/cordova/plugins
/cordova/platforms
/cordova/config.xml
/cordova/resources/icons/ios/

# Marketing
/fiche/*/*.png
/fiche/*/*.jpg

# OS
.DS_Store

# Server
/server/local/
/server/static/
/server/public/sw.js
/server/public/index.html
