# Node
/node_modules
/npm-debug.log

# Sublime Text
*.sublime-workspace

# Cordova
/cordova/www
*release-signing.properties
**/android/assets/
**/android/.gradle/
**/android/CordovaLib/build/
**/app-FacebookLib/build/
