<?xml version='1.0' encoding='utf-8'?>
<widget id="com.split.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Split</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="olivier.tassinari@gmail.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
	<icon src="logo/v0.png" />
    <access origin="*" />
</widget>
