@import "../roboto/style";
@import "../../components/material-design-iconic-font/css/material-design-iconic-font.css";

html {
  font-family: 'Roboto', sans-serif;
  background: #eee; // Gray200
}

body {
  margin: 0;
}

.app-content-canvas {
  padding-top: 56px;
  background: #eee; // Gray200
}
