@import "../roboto/style";

@grey200: #eee;

html {
  font-family: 'Roboto', sans-serif;
  background: @grey200;
}

body {
  margin: 0;
}

.app-content-canvas {
  padding-top: 56px;
  background: @grey200;
}
