@import "~material-ui/src/less/variables/colors.less";

.account-balance-you-owe, .account-balance-owes-you{
  display: inline-block;
  margin-left: 8px;
  text-align: right;

  .mui-font-style-body-1{
    line-height: 13px
  }

  .mui-font-style-title{
    display: inline-block;
    margin-left: 8px;
  }
}

.account-balance-you-owe > div{
  color: @pink-500;
}

.account-balance-owes-you > div{
  color: @light-green-600;
}

.account-balance-settled-up{
  color: @grey-600;
}
