<!DOCTYPE html>
<html lang="{%=o.locale %}">
  <head>
    <meta charset="utf-8" />

    <!-- Enables or disables automatic detection of possible phone numbers in a webpage in Safari on iOS. -->
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />

    <meta
      name="viewport"
      content="user-scalable=0, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"
    />

    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- Android manifest -->
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#4caf50" />

    <!-- iOS Allow web app to be run in full-screen mode -->
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- iOS Icon -->
    <link rel="apple-touch-icon" sizes="152x152" href="/icon/152x152.png" />

    <!-- SEO -->
    <title>{%=o.title %}</title>
    <meta name="description" content="{%=o.description %}" />
    <link rel="alternate" hreflang="x-default" href="{%=o.config.homeUrl %}" />
    {% for (var locale in o.localeAvailable) { %}
    <link rel="alternate" href="{%=o.config.homeUrl %}{%=o.localeAvailable[locale]%}" hreflang="{%=o.localeAvailable[locale]%}" />
    {% } %}

    {% if (o.isMediaBot) { %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@oliviertassinari">
    <meta name="twitter:title" content="{%=o.title %}">
    <meta name="twitter:description" content="{%=o.description %}">
    <meta name="twitter:image" content="{%=o.config.homeUrl %}icon/512x512.png">

    <!-- Share meta -->
    <meta property="og:type" content="product" />
    <meta property="og:title" content="{%=o.title %}" />
    <meta property="og:description" content="{%=o.description %}" />
    <meta property="og:url" content="{%=o.config.homeUrl %}{%=o.locale %}" />
    <meta property="og:image" content="{%=o.config.homeUrl %}icon/512x512.png" />
    <meta property="fb:app_id" content="{%=o.config.facebookAppId %}" />
    {% } %}

    <script>
      {%#o.loadCSS %}
      {% for (var cssIndex in o.files.css) { %}
      loadCSS("{%=o.files.css[cssIndex] %}");
      {% } %}

      // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.defer=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', {trackingId: '{%=o.config.googleAnalytics %}'});

      window.LAZY_ROUTE_NAME = '{%=o.lazyRouteName %}';
    </script>
    {%#o.sheets %}
  </head>
  <body>
    <div id="root">{%#o.markup %}</div>

    {% for (var jsIndex in o.files.js) { %}
    <script src="{%=o.files.js[jsIndex] %}" defer></script>
    {% } %}

    <div id="fb-root"></div>
  </body>
</html>
