<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!-- Enables or disables automatic detection of possible phone numbers in a webpage in Safari on iOS. -->
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=0, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

        {% for (var css in o.htmlWebpackPlugin.files.css) { %}
        <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
        {% } %}
    </head>
    <body>
        <div id="main"></div>

        {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
        {% } %}
        <script src="cordova.js"></script>
    </body>
</html>
