@import "node_modules/material-ui/src/less/variables/colors.less";

.account{
  .account-balance-you-owe{
    color: @pink-500;
  }

  .account-balance-owes-you{
    color: @light-green-500;
  }

  .account-balance-settled-up{
    color: @grey-600;
  }

  .mui-font-style-body-1{
    line-height: 13px
  }
}
