.list{
  background:#fff;
  padding:16px;
  display: flex;
  align-items: center;
  line-height: normal !important;

  .list-left{
    width: 56px;
  }
  .list-content{
    font-size: 15px;
    flex-grow: 1;
  }
}